html,body{
    height: 100%;
    width: 100%;
}
.canvas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rosybrown;
    margin: 0;
    padding: 0;
    border: solid 2px rgba(130,10,20,.89);
    height: 100%;
}

.option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: max-content;
    width: max-content;
}

.option-container__options--size {
    padding: 8rem;
    border: solid .01rem ;
    text-align: center;
}
.option-container__options{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
}
.scorebox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.scorebox-container > * {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}
.modal {
    --width: 800px;
    --height: 250px;
    position: absolute;
    top: calc(59% - var(--height));
    left: calc(45% / var(--width));
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 30px;
    height: var(--height);
    width: var(--width);
    z-index: 100;
    background: linear-gradient(35deg, white 0%, white 84.7%, rosybrown 85%, rosybrown 91%, white 91.3%);
    box-shadow: 0 10px 60px 0 gainsboro, inset 0 -10px 17px 2px rosybrown;
    background-size: 100px, 80px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 4rem;
    backdrop-filter: blur(5px);
}
.modal:has( > .show-user-choice){
    background: linear-gradient(145deg, white 0%, transparent 5%, rosybrown 98%, rosybrown 98.3%);
    box-shadow: 0 10px 60px 0 gainsboro, inset 0 -10px 17px 2px rosybrown;
    backdrop-filter: blur(5px);
}
/*.modal > *{
    border-radius: 3rem;
    background-color: yellow;
}*/